.mycard2 {
    background-color: #2a0440;
    height: 400px;
    width: 900px;
    margin: auto;
    border-radius: 20px;
    border-color: yellow;
    border-style: groove;
    color: white;
    text-align: center;
    margin-top: 10vh;
}

.mt50 {
    margin-top: 4vh;
    text-align: left;
}

.w80 {
    width: 80%;
    margin: auto;
}

.btn2 {
    font-weight: bold;
    font-size: large;
    color: white;
    width: 90%;
}

.btgreen {
    background-color: rgb(56, 151, 9);
}

.btyellow {
    background-color: rgb(132, 101, 8);
}

.btred {
    background-color: rgb(222, 54, 68);
}



.bord {
    border-style: double;
    border-color: aqua;
    border-radius: 20px;
    background-color: #172238;
    padding: auto;
    margin-top: 50px;
    width: 500px;
}

.bord2 {
    border-style: double;
    border-color: aqua;
    border-radius: 20px;
    background-color: #172238;
    padding: auto;
    margin-top: 50px;
    width: 250px;
}

.cl1 {
    text-align: left;
    margin: auto;
}

.alleft {
    text-align: left;
}

.wid {
    width: 95%;
    margin: auto;
}

.col33 {
    width: 30%;
    margin: auto;
    display: inline;

}

.taxi {
    background-color: rgb(72, 8, 136);
    color: yellow;
    font-weight: bold;
    margin-top: 20px;
    padding: 3px;
    min-width: 100px;
    border-radius: 5px;
    margin: auto;
}

.container {
    padding-bottom: 3%;
}