section {
    background-color: #172238;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    margin-left: 7%;
}

.nav {
    color: #172238;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    z-index: 100;
    text-align: center;

}

.menu {
    background-color: aqua;
    text-align: center;
    border-radius: 10px;
    height: 11vh;
    width: 140px;
    margin-left: 20px;
    margin-right: 20px;
}

.noDec3 {
    text-decoration: none;
    color: #172238;
}

.lg :hover {
    cursor: pointer;
}