<div *ngIf="showdetails" class="container pt-4">

    <div class="row rowcss mt-5">
        <div class="col-0">Name</div>
        <div class="col-1">{{teacher.name}}</div>
        <div class="col-2"></div>
    </div>

    <div class="row rowcss">
        <div class="col-0">Mobile Number</div>
        <div class="col-1">{{teacher.mobile}}</div>
        <div class="col-2"></div>
    </div>

    <div class="row rowcss" *ngIf="teacher.active">
        <div class="col-0">Class Teacher of Classes</div>
        <div class="col-1">
            <div *ngFor="let cl of classes">{{cl.name}}</div>
        </div>
        <div class="col-2"><button (click)="editStudentPermission()" class="btn btnc"><svg
                    xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-pencil-fill" viewBox="0 0 16 16">
                    <path
                        d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z" />
                </svg></button></div>
    </div>

    <div class="row rowcss" *ngIf="teacher.active">
        <div class="col-0">Subject Teacher Permission</div>
        <div class="col-1">

            <div *ngFor="let item of permissions" class="row">
                <div class="col3"> {{item.class1.name}}</div>
                <div class="col3"> {{item.subject.name}}</div>
            </div>

        </div>
        <div class="col-2"><button (click)="editMarksPermission()" class="btn btnc"><svg
                    xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-pencil-fill" viewBox="0 0 16 16">
                    <path
                        d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z" />
                </svg></button></div>
    </div>

    <div class="row cen mt-4">
        <div class="colxx">
            <div class="backb" routerLink="/admin/dashboard/teachers">Back</div>
        </div>

        <div class="colzz">
            <button class="deactbut" *ngIf="teacher.active" (click)="deactivateTeacher()">Deactivate Teacher</button>
            <button class="actbut" *ngIf="!teacher.active" (click)="activateTeacher()">Activate Teacher</button>
        </div>

        <div class="colyy"><button class="delBut" *ngIf="!teacher.active" (click)="deleteTeacher()">Delete</button>
        </div>

    </div>
</div>


<div *ngIf="editStudent" class="container pt-4">

    <div class="input-group plate2">
        <form (submit)="onSubmit()">
            <label for="" class="mb-3 mt-3"><strong>Select Class</strong></label>
            <br>
            <div class="inside">
                <div *ngFor="let class of classList" class="inlbck">

                    <input class="form-check-input me-2 ms-3" type="checkbox"
                        [checked]="classIndexes.indexOf(class.id) >= 0" [value]="class" name="class"
                        (change)="onSelectClass($event,class)" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault"> {{class.name}} </label>

                </div>
            </div>

            <div class="noDec mt-4 mb-3 ms-2"><button (click)="updateClassTeacher()" type="submit"
                    class="noDecy btn btn2">Select</button></div>
        </form>
    </div>

</div>


<div *ngIf="editMarks" class="container pt-4">
<div class="fixit">
    <div class="row subrow">
        <div class="cola">Class</div>
        <div class="colb">Subject</div>
    </div>

    <form (submit)="onAddPermission()">
        <div class="row subrow">
            <div class="cola"><select class="form-select" 
                [(ngModel)]="clOne" name="class" (change)="onSelectClassForPermission($event)">
                    <option disabled selected>--Select--</option>    
                    <option *ngFor="let class of allClasses">{{class.name}}</option>
                </select></div>
            <div class="colb"><select class="form-select" name="subject" (change)="onSelectSubForPermission($event)"
                    [(ngModel)]="subOne">
                    <option selected>--Select--</option>
                    <option *ngFor="let sub of subjects">{{sub.name}}</option>
                </select></div>
        </div>

        <div class="text-center mt-4 mb-3 ms-2"><button type="submit" class="noDecy btn btn2"
                [disabled]=" subOne == null || subOne=='--Select--' || clOne=='--Select--'">ADD PERMISSION</button>
            <button class="noDecy btn btn3 ms-3" (click)="onSubmitMarks()">DONE</button>
        </div>
    </form>
</div>
    <div class="permissions pt-1 pb-1 mb-3" *ngIf="permissions.length != 0">
        <div class="mt-2 mb-2 tithead">{{teacher.name}}</div>
        <div *ngFor="let x of permissions">
            <div class="row mb-2">
                <div class="col3"> {{x.class1.name}}</div>
                <div class="col3"> {{x.subject.name}}</div>
                <div class="col3"> <button class="ms-3 br" (click)="deletePermission(x)">Delete</button></div>
            </div>
        </div>
    </div>
</div>