.rowcss {
    margin: auto;
    text-align: center;
    margin-top: 10px;
}

.col-0 {
    width: 30%;
    background-color: #a7239e56;
    border-radius: 5px;
    border-color: aqua;
    border-style: groove;
    margin: auto;
    padding-top: 3px;
    padding-bottom: 3px;
}

.col-1 {
    width: 55%;
    background-color: #a7239e56;
    border-radius: 5px;
    border-color: aqua;
    border-style: groove;
    margin: auto;
    padding-top: 3px;
    padding-bottom: 3px;
}

.col-2 {
    width: 10%;
    margin: auto;
}

.btnc {
    color: yellow;
    background-color: #a7239e56;
    border-radius: 5px;
    border-color: aqua;
    border-style: groove;
}

.plate {
    background-color: #a7239e56;
    border-radius: 5px;
    border-color: aqua;
    width: 25%;
    color: white;
    margin: auto;
    margin-top: 20vh;
    text-align: center;
    padding-left: 6%;
    padding-right: 6%;
}

.plate2 {
    background-color: #f4f7bcf1;
    border-radius: 8px;
    border-color: aqua;
    border-style: groove;
    color: black;
    margin: auto;
    width: 50%;
    margin-top: 20vh;
    text-align: center;
    justify-content: center;
}

.btn2 {
    background-color: rgb(60, 219, 219);
    color: black;
    font-weight: bold;
}

.btn3 {
    background-color: rgb(227, 218, 44);
    color: black;
    font-weight: bold;
}

.cola {
    width: 32%;
    margin: auto;
    margin-left: 15%;
}

.colb {
    width: 32%;
    margin: auto;
    margin-right: 15%;
}

.subrow {
    margin-top: 2%;
}

.inlbck {
    display: inline-block;
    margin: auto;
    font-size: large;
}

.inside {
    margin: auto;
}

.permissions {
    color: white;
    width: 80%;
    background-color: rgb(13, 105, 105);
    text-align: center;
    justify-content: center;
    margin: auto;
    justify-self: center;
    margin-top: 32vh;
}

.tithead {
    background-color: rgb(149, 195, 206);
    width: 30%;
    border-color: aqua;
    border-style: groove;
    border-radius: 6px;
    justify-self: center;
    margin: auto;
    margin-top: 10px;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.col3 {
    margin: auto;
    width: 30%;
}

.Activate {
    margin: auto;
}

.deactbut {
    background-color: orange;
    border-radius: 5px;
    border-style: groove;
    border-color: palevioletred;
    padding: 5px;
    text-align: center;
}

.actbut {
    color: white;
    background-color: rgba(10, 102, 30, 0.899);
    border-radius: 5px;
    border-style: groove;
    border-color: rgb(179, 182, 11);
    padding: 5px;
    text-align: center;
}

.backb {
    background-color: rgba(168, 32, 152, 0.899);
    border-radius: 5px;
    border-style: groove;
    border-color: rgb(179, 182, 11);
    width: 20%;
    padding: 5px;
    text-align: center;
    margin-left: 70%;
    cursor: pointer;
}

.delBut {
    background-color: rgba(165, 25, 22, 0.899);
    border-radius: 5px;
    border-style: groove;
    border-color: rgb(206, 129, 13);
    padding: 5px;
    text-align: center;
    cursor: pointer;
    color: wheat;
}


.colxx {
    margin-left: 0%;
    width: 40%;
}

.colzz {
    margin-left: 0%;
    width: 18%;

}

.colyy {
    margin-left: 0%;
    width: 5%;
}

.br {
    background-color: rgb(198, 21, 21);
    border-radius: 5px;
    padding: 4px;
}

.fixit {
    position: fixed;
    /* background-color: yellow; */
    background-color: #172238;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    margin-top: 0vh;
    min-width: 76%;
    text-align: center;
}