<section>
    <div class="container">
        <div class="martop"></div>
        <div class="row info">

            <div class="col-4 infocall">Class : {{class1.name}}</div>
        </div>

        <div *ngIf="finResForSemList.length > 0" class="text-center">
            <table class="table table-warning table-striped">
                <thead>
                    <tr>
                        <th class="col0">ROLL NO</th>
                        <th class="col2">NAME</th>
                        <th *ngFor="let subject of subjectList" class="col4">{{subject.name}}</th>
                    </tr>
                </thead>
                <tbody>


                    <tr *ngFor="let marksOfStudent of finResForSemList, let indexOfStudent = index">

                        <td class="col1">{{studenList[indexOfStudent].rollNo}}</td>
                        <td class="col2">{{studenList[indexOfStudent].fullName}}</td>
                        <td *ngFor="let mark of marksOfStudent" class="col1">{{mark}}</td>

                    </tr>


                </tbody>
            </table>
        </div>
        <div *ngIf="finResForSemList.length == 0" class="text-center mt-5">
            <h3 class="mt-5">There are no students in this class!</h3>
        </div>
    </div>
</section>