.info {
    text-align: center;
    padding: auto;
    margin-top: 2vh;
}

.infocall {
    margin: auto;
    border-radius: 20px;
    border-style: double;
    border-color: rgb(233, 74, 164);
    color: yellow;
    margin-bottom: 2vh;
}

.col1 {
    width: 8%;
}

.col2 {
    width: 25%;
}

.col0 {
    width: 6%;
}

.container {
    padding-bottom: 5%;
}

.martop {
    margin-top: 8vh;
}