<section>
    <div class="container other">
        <div class="mycard3">
            <h6 class="mt-4">Answer the following security question correctly to reset your password</h6>
            <div class=" row justify-content-evenly">
                <div class="col-4 bord">
                    <div class="mt50">
                        <h6>{{teacher.secQue}}</h6>
                        <form (submit)="checkAnswer()">
                            <div class="input-group w80">
                                <input #secAns="ngModel" name="secAns" [(ngModel)]="teacher.secAns" type="text"
                                    class="form-control" placeholder="Security Answer" required="required"
                                    aria-label="Username" aria-describedby="basic-addon1">
                            </div>
                            <div class="text-center mb-3"><button type="submit" class="btn btn2 mt-4"
                                    [disabled]="secAns.errors">Proceed</button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
            <div class="text-center"><button routerLink="../" class="taxi mt-5">BACK</button></div>

        </div>
    </div>
</section>