<h1 align="center" style="color: brown;">Customer Registration</h1> <br/>

<div class="container">
    <form #regForm="ngForm" (ngSubmit)="customerRegistration(regForm.value)">
        <table align="center">
            <tbody>
                <tr>
                    <td>Full name</td>
                    <td><input type="text" name="fullName" ngModel /> </td>
                </tr>
                
                <tr>
                    <td>Email-Id</td>
                    <td><input type="text" name="emailId" ngModel /> </td>
                </tr>
                <tr>
                    <td>Password</td>
                    <td><input type="password" name="password" ngModel /> </td>
                </tr>
                <tr>
                    <td>Mobile</td>
                    <td><input type="Mobile" name="Mobile" ngModel /> </td>
                </tr>
                <tr>
                    <tr>
                        <td>forgrtpassword</td>
                        <td><input type="forgetpassword" name="forgetpassword" ngModel /> </td>
                    </tr>
                    <tr>
                    <td></td>
                    <td><button>Register</button> Already User? <a routerLink="//login">SignIn</a> </td>
                </tr>
            </tbody>
        </table>
    </form>
</div>

