<div class="adminClass">

    <div class="addForm1">
        <form name="forma" (submit)="addSubject()">
            <div class="row row2 mt-2 text-center ht">

                <div class="w00 me-2"><button type="button" (click)="onHome()" class="btn btnyellow"><svg
                            xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                            class="bi bi-house-fill" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z" />
                            <path fill-rule="evenodd"
                                d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z" />
                        </svg></button></div>

                <div class="w40">
                    <div class="row">
                        <div class="cl1"><input #subName="ngModel" name="name" [(ngModel)]="subject.name" type="text"
                                class="form-control" placeholder="Subject"
                                [class.is-invalid]="subName.invalid && subName.touched" [required]=true></div>
                        <div class="cl2"><input #fm="ngModel" name="maxMarks" [(ngModel)]="subject.maxMarks"
                                type="number" class="form-control" placeholder="Full Marks" [min]="50" [max]="300"
                                [class.is-invalid]="subName.invalid && subName.touched" [required]=true></div>
                        <div class="cl3"><button [disabled]="subName.errors || fm.errors || subject.name=='' "
                                type="submit" class="btn btnpink">Add
                                Subject</button></div>
                    </div>
                    <div class="row mh">
                        <div *ngIf="subName.errors && (subName.invalid && subName.touched)" class="ms-1 mes1">
                            <small class="text-danger" *ngIf="subName.errors?.['required']">Subject can not be
                                empty</small>
                        </div>
                        <div *ngIf="fm.errors && (fm.invalid && fm.touched)" class="ms-1 mes2">
                            <small class="text-danger" *ngIf="fm.errors">Enter valid full marks between 50 and
                                300</small>
                        </div>
                    </div>
                </div>

                <div class="w01"><button type="button" (click)="onUpdate()" class="btn btnyellow">Update</button></div>
                <div class="w10"><button type="button" (click)="onAssign()" class="btn btngreen">Assign Classes</button>
                </div>

            </div>





        </form>
    </div>
    <div class="martop"></div>
    <div *ngIf="showMain" class="mt-4 cent">
        <div class="subValue ms-3" *ngFor="let sub of subjects">
            <div class="subv2">{{sub.name}}</div>
        </div>
    </div>


    <div *ngIf="showUpdate" class="showUpdate mt-4">

        <form>
            <div *ngFor="let sub of subjects; let i = index" class="row rowup">
                <div class="namecol"><input #subName="ngModel" name="class{{i}}" [(ngModel)]="sub.name" type="text"
                        class="form-control" placeholder="Subject"
                        [class.is-invalid]="subName.invalid && subName.touched" [required]=true></div>
                <div class="markcol"><input #fm="ngModel" name="fullMarks{{i}}" [(ngModel)]="sub.maxMarks" type="number"
                        class="form-control" placeholder="Full Marks" [min]="50" [max]="300"
                        [class.is-invalid]="fm.invalid && fm.touched" [required]=true></div>
                <div class="butcol"><button
                        [disabled]="subName.errors || fm.errors || (subName.pristine && fm.pristine)" class="by"
                        (click)="updateSubject(sub)">Update</button><button class="ms-3 br"
                        (click)="deleteSubject(sub.id)">Delete</button></div>
            </div>
        </form>

    </div>





    <div *ngIf="showAssign" class="showUpdate mt-2">

        <form (submit)="assignSubToClass()">
            <div class="row text-center">
                <div class="c11"> Select Subject
                </div>
                <div class="c11"> Select Classes</div>

            </div>
            <div class="row">
                <div class="c1">
                    <div class="checkSub ms-3" *ngFor="let sub of subjects">
                        <div class="form-check">
                            <input #secQue="ngModel" name="name" [(ngModel)]="selSub"
                                (change)="onSelectSubject($event,sub)" class="form-check-input" type="radio" id="2"
                                [value]="sub">
                            <label class="form-check-label" for="flexRadioDefault1">
                                {{sub.name}}
                            </label>
                        </div>
                    </div>
                </div>


                <div class="c2">
                    <div class="checkSub checkSub2 ms-3" *ngFor="let cl of classes">

                        <input class="form-check-input me-1 ms-1" type="checkbox"
                            [checked]="classIndexes.indexOf(cl.id) >= 0" [value]="cl" name="class"
                            (change)="onSelectClass($event,cl)" id="flexCheckDefault">

                        {{cl.name}}
                    </div>
                </div>

            </div>
            <div class="text-center"><button class="btbg" type="submit">Assign</button></div>



        </form>
    </div>



</div>