.w30 {
    width: 20%;
    margin: auto;
}

.w40 {
    width: 60%;
    margin: auto;
}

.cl1 {
    width: 38%;
    margin: auto;
}

.cl2 {
    width: 26%;
    margin: auto;
}

.cl3 {
    width: 30%;
    margin: auto;
}

.w10 {
    width: 20%;
    margin: auto;
}

.w11 {
    width: 12%;
    margin: auto;
}

.w00 {
    width: 5%;
    margin: auto;
}

.w02 {
    width: 15%;
    margin: auto;
}

.w01 {
    width: 10%;
    margin: auto;
}

.btnpink {
    background-color: palevioletred;
    border-radius: 5px;
    z-index: -20;
}

.btngreen {
    background-color: rgb(29, 92, 4);
    border-radius: 5px;
    color: whitesmoke;
    margin-top: 0%;
    margin-bottom: 20px;
}

.btnyellow {
    background-color: rgb(142, 133, 11);
    border-radius: 5px;
    color: whitesmoke;
    margin-bottom: 20px;

}

.btnorange {
    background-color: rgb(166, 105, 8);
    border-radius: 5px;
    color: whitesmoke;
    margin-bottom: 20px;
}

.cent {
    align-items: center;
    text-align: center;
}

.subValue {
    display: inline-block;
    background-color: rgba(17, 84, 88, 0.949);
    border-radius: 5px;
    margin: 8px;
    padding: 5px;
}

.subv2 {
    background-color: rgba(17, 84, 101, 0.649);
    min-width: 150px;
    min-height: 60px;
    border-radius: 5px;
    color: rgb(252, 250, 250);
    text-align: center;
    vertical-align: middle;
    margin: 8px;
    font-size: large;
    font-weight: bold;
    padding: 12px;
    border-color: yellow;
    border-style: double;
}

.mes1 {
    width: 38%;
}

.mes2 {
    width: 60%;
}

.markcol {
    width: 20%;
    margin: auto;
}

.namecol {
    width: 40%;
    margin: auto;
}

.butcol {
    width: 30%;
    margin: auto;
    text-align: end;
}

.rowup {
    width: 70%;
    background-color: rgb(55, 98, 84);
    padding: 4px;
    margin: auto;
    border-radius: 7px;
    margin-top: 5px;

}

.by {
    background-color: rgb(147, 147, 29);
    border-radius: 5px;
    padding: 4px;
}

.br {
    background-color: rgb(198, 21, 21);
    border-radius: 5px;
    padding: 4px;
}

.ht {
    vertical-align: top;
    padding-top: 10px;
}

.c11 {
    width: 45%;
    margin: auto;
    color: white;
    margin-bottom: 5px;
}

.c1 {
    background-color: rgb(9, 57, 68);
    margin: auto;
    width: 45%;
    min-height: 240px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.c2 {
    background-color: rgb(9, 57, 68);
    margin: auto;
    width: 45%;
    min-height: 240px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.checkSub {
    display: inline-block;
    background-color: rgba(19, 117, 7, 0.649);
    min-width: 100px;
    min-height: 40px;
    border-radius: 5px;
    color: rgb(252, 250, 250);
    vertical-align: middle;
    margin: 5px;
    padding: 5px;
}

.checkSub2 {
    background-color: rgba(159, 9, 185, 0.649);
}

.btbg {
    background-color: aqua;
    border: none;
    border-radius: 5px;
    padding: 5px;
    font-weight: bold;
    width: 100px;

}

.mh {
    height: 20px;
}

.addForm1 {
    position: fixed;
    background-color: #172238;
    ;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 4vh;
    min-height: 10vh;
    min-width: 80%;

}

.martop {
    min-height: 18vh;
}

.row2 {
    margin: auto;
}