.test {
    margin: auto;
    background-color: rgb(2, 21, 21);
    width: 40%;
    padding-top: 2vh;
    padding-bottom: 2vh;
    margin-top: 3vh;
    border-radius: 20px;
    border-style: ridge;
    border-color: aqua;
    display: inline-block;
    margin-left: 5%;
}

.other {
    text-align: center;
    margin: auto;
    align-items: center;
    padding-top: 10vh;
}

.noDec3 {
    text-decoration: none;
    color: white;
}