<section>
    <div class="container other">

        <a *ngFor="let class of classes" routerLink="{{class.id}}" class="noDec3">
            <div class="test">{{class.name}}</div>
        </a>
    </div>

    <h3 class="text-center" *ngIf="classes.length == 0">Admin have not given this permission to you</h3>

    
</section>