<section>
    <div class="container other">
        <div class="pub">

        </div>

        <div class="mycard2">
            <form (submit)="onRegister()">
                <div class=" row justify-content-evenly">

                    <div class="col-4 bord">

                        <div class="mt50">
                            <div class="input-group mb-4">
                                <input #name="ngModel" name="name" [(ngModel)]="teacher.name" type="text"
                                    class="form-control" placeholder="Full Name" aria-label="fullName" maxlength="40"
                                    required="required" aria-describedby="basic-addon1">
                            </div>
                            <div class="input-group mb-4">
                                <input #mobile="ngModel" name="mobile" [(ngModel)]="teacher.mobile" type="text"
                                    class="form-control" placeholder="Mobile Number" aria-label="mobile"
                                    pattern="[0-9]{10}" required="required" aria-describedby="basic-addon1">
                            </div>

                            <div class="input-group mb-4">
                                <input #username="ngModel" name="username" [(ngModel)]="teacher.username" type="text"
                                    class="form-control" placeholder="Username" aria-label="username" maxlength="30"
                                    minlength="6" required="required" aria-describedby="basic-addon1">
                            </div>

                            <div class="input-group mb-4">
                                <input #password="ngModel" name="password" [(ngModel)]="teacher.password"
                                    type="password" class="form-control" placeholder="Password" aria-label="password"
                                    minlength="6" required="required" aria-describedby="basic-addon1">
                            </div>

                        </div>

                    </div>

                    <div class="col-4 bord">
                        Select one security question and answer it<br> This will help to reset your password in future
                        <div class="mt50">

                            <div class="form-check">
                                <input #secQue="ngModel" name="secQue" [(ngModel)]="teacher.secQue"
                                    class="form-check-input" type="radio" maxlength="10" minlength="1" id="1"
                                    [value]="'Name of my favorite actor'" checked>
                                <label class="" for="flexRadioDefault1">
                                    Name of my favorite actor
                                </label>
                            </div>
                            <div class="form-check">
                                <input #secQue="ngModel" name="secQue" [(ngModel)]="teacher.secQue"
                                    class="form-check-input" type="radio" id="2" [value]="'Name of my first pet'">
                                <label class="form-check-label" for="flexRadioDefault1">
                                    Name of my first pet
                                </label>
                            </div>
                            <div class="form-check">
                                <input #secQue="ngModel" name="secQue" [(ngModel)]="teacher.secQue"
                                    class="form-check-input" type="radio" id="3"
                                    [value]="'Name of country I would like to visit'">
                                <label class="form-check-label" for="flexRadioDefault1">
                                    Name of country I would like to visit
                                </label>
                            </div>

                            <div class="input-group mt-4">
                                <input #secAns="ngModel" name="secAns" [(ngModel)]="teacher.secAns" type="text"
                                    class="form-control" maxlength="10" required="required" pattern="[a-zA-Z]*"
                                    placeholder="Answer for selected Secutiry Question" aria-describedby="basic-addon1">
                            </div>

                            <div class="text-center mb-3"><button type="submit" class="btn btn2 mt-4"
                                    [disabled]="secAns.errors || teacher.secQue=='' || name.errors || username.errors || password.errors || mobile.errors">Register</button>
                            </div>

                        </div>

                    </div>

                </div>
                <div class="emptyheight"></div>
                <div *ngIf="name.errors && (name.invalid && name.touched)" class="ms-1 mes1">
                    <small class="text-danger" *ngIf="name.errors?.['required']">Name is required
                    </small>
                </div>
                <div *ngIf="mobile.errors && (mobile.invalid && mobile.touched)" class="ms-1 mes1">
                    <small class="text-danger">Mobile number is not valid
                    </small>
                </div>

                <div *ngIf="username.errors && (username.invalid && username.touched)" class="ms-1 mes1">
                    <small class="text-danger" *ngIf="username.errors?.['required']">Username is required
                    </small>
                    <small class="text-danger" *ngIf="username.errors?.['minlength']">Username must contain at least 6
                        characters
                    </small>
                </div>
                <div *ngIf="password.errors && (password.invalid && password.touched)" class="ms-1 mes1">
                    <small class="text-danger">Password must contain at least 6 characters
                    </small>
                </div>

                <div *ngIf="secAns.errors && (secAns.invalid && secAns.touched)" class="ms-1 mes1">
                    <small class="text-danger">Please enter valid security answer
                    </small>
                </div>
            </form>
            <div class="text-center"><button routerLink="../" class="taxi mt-4">BACK</button></div>

        </div>
    </div>
</section>