section {
    background-color: #172238;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    padding-bottom: 10%;
}

.emptyheight {
    min-height: 40px;
}

.other {
    vertical-align: middle;
    position: relative;
    padding-top: 5%;
    align-items: center;
}

.mycard2 {
    background-color: #2a0440;
    height: 370px;
    width: 900px;
    margin: auto;
    border-radius: 20px;
    border-color: yellow;
    border-style: groove;
    color: white;
    text-align: center;
}

.mt50 {
    margin-top: 35px;
    text-align: left;
}

.w80 {
    width: 80%;
    margin: auto;
}

.btn2 {
    background-color: rgb(95, 47, 141);
    font-weight: bold;
    font-size: large;
    color: white;
}

.bord {
    border-style: double;
    border-color: aqua;
    border-radius: 20px;
    background-color: #172238;
    padding: auto;
    margin-top: 3%;
    width: 400px;
}

.pub {

    width: 1px;
    text-align: center;
    text-decoration: none;

}

.publish {
    background-color: #4e6186;
    color: black;
    text-align: center;
    border-radius: 5px;
    min-height: 30px;
    padding: 5px;
    font-weight: bold;
}

.container {
    padding-bottom: 5%;
}

.taxi {
    background-color: black;
    color: yellow;
    font-weight: bold;
    margin-top: 20px;
    padding: 3px;
    min-width: 100px;
    border-radius: 5px;
    margin: auto;
}