.w8 {
    width: 10%;
}

.w6 {
    width: 7%;
}

.w15 {
    width: 20%;
}

.byl {
    background-color: rgb(132, 78, 7);
}

.byd {
    background-color: rgb(2, 95, 64);
}

.bggreen {
    color: rgb(9, 240, 9);
}

.bgred {
    color: rgb(240, 51, 9);
}

.infocall {
    margin: auto;
    border-radius: 20px;
    border-style: double;
    border-color: aqua;
    color: yellow;
    margin-bottom: 2vh;
    text-align: center;
}

.publish {
    background-color: rgb(20, 244, 91);
    margin: auto;
    text-align: center;
    border-radius: 3px;
    padding: 5px;
    color: rgb(128, 4, 87);
    font-weight: bold;
}

.disabledd {
    background-color: rgb(92, 88, 16);
    margin: auto;
    text-align: center;
    border-radius: 3px;
    padding: 5px;
    color: rgb(96, 15, 69);
    font-weight: bold;
}

.pub {

    width: 10%;
    margin: auto;
    text-align: center;

}

.d {
    background-color: rgb(244, 147, 20);
    color: rgb(132, 11, 124);
    width: 150px;
}

.e {
    background-color: rgb(244, 20, 199);
    color: rgb(31, 11, 132);
}

.r {
    background-color: rgb(196, 206, 14);
    color: rgb(8, 5, 27);
}

.w19 {
    width: 30%;
    padding: 5px;
    margin: auto;
    text-align: center;
}

.bgr {
    background-color: rgb(22, 156, 22);
}

.bor {
    background-color: rgb(188, 124, 19);
}
.fixit {
    position: fixed;
    background-color: #172238;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 20px;
    margin-top: 4.1vh;
    min-width: 80%;
    text-align: center;
}

.margintop{
min-height: 16vh;
}