<div *ngIf="finResForSemList.length == 0" class="container mt-5 text-center">
  <h3>NO RESULTS TO DISPLAY</h3>
</div>
<div *ngIf="finResForSemList.length > 0" class="container">
  <div class="fixit">
  <div class="row mb-1">
    <div class="col-4 infocall">Class: {{class1.name}}</div>
    <div *ngIf="!class1.published" class="pub" (click)="publish()"><button [disabled]="proPer < 100"
        [ngClass]="proPer < 100 ? 'disabledd' : 'publish' ">PUBLISH</button></div>
    <div *ngIf="class1.published" class="pub">
      <div class="publish d noDec">PUBLISHED</div>
    </div>
    <div *ngIf="!class1.published" class="pub"><button (click)="onClickDetail()"
        class="publish e noDec">{{dtext}}</button></div>
    <div *ngIf="class1.published" class="pub"><button (click)="revert()" class="publish r noDec">REVERT</button></div>
  </div>
  <div class="progress pro" style="height: 15px">
    <div class="progress-bar bg-success" role="progressbar" style="width: {{proPer}}%" aria-valuenow="25"
      aria-valuemin="0" aria-valuemax="100">
      {{proPer}} %
    </div>
  </div>
  </div>
  <div class="margintop"></div>
  <div *ngIf="!showDetails">
    <table class="mt-4">
      <tr class="byl text-center">
        <th class="w6">ROLL NO</th>
        <th class="w15">NAME</th>
        <th *ngFor="let subject of subjectList" class="col4">{{subject.name}}</th>
        <th *ngIf="class1.published" class="w8"><span>RESULT</span></th>
      </tr>


      <tr *ngFor="let marksOfStudent of finResForSemList, let indexOfStudent = index" class="byd text-center">
        <td class="w6">{{studenList[indexOfStudent].rollNo}}</td>
        <td class="w15">{{studenList[indexOfStudent].fullName}}</td>
        <td *ngFor="let mark of marksOfStudent" class="w8">{{mark}}</td>
        <td *ngIf="class1.published" class="w8"><span
            [ngClass]="studenList[indexOfStudent].passed ? 'bggreen' : 'bgred' "><svg xmlns="http://www.w3.org/2000/svg"
              width="16" height="16" fill="currentColor" class="bi bi-circle-fill" viewBox="0 0 16 16">
              <circle cx="8" cy="8" r="8" />
            </svg></span>
          <span *ngIf="studenList[indexOfStudent].passed"> PASS</span>
          <span *ngIf="!studenList[indexOfStudent].passed"> FAIL</span>

        </td>
      <tr>

    </table>

  </div>

  <div *ngIf="showDetails">
    <div *ngIf="permissions.length > 0" class="mt-4 row">
      <th class="w19">SUBJECT</th>
      <th class="w19">TEACHER</th>
      <th class="w19">CONFIRMED</th>

    </div>
    <div *ngIf="permissions.length == 0" class="text-center mt-5">
      <h3>No Subject assigned to this Class</h3>
    </div>
    <div *ngFor="let permission of permissions" class="row" [ngClass]="permission.confirmed ? 'bgr' : 'bor' ">

      <div class="w19">{{permission.subject.name}}</div>
      <div class="w19">{{permission.teacher.name}}</div>
      <div *ngIf="permission.confirmed" class="w19">Yes</div>
      <div *ngIf="!permission.confirmed" class="w19">No</div>

    </div>

  </div>

</div>

