.info {
    text-align: center;
    padding: auto;
    margin-top: 2vh;
}

.infocall {
    margin: auto;
    border-radius: 20px;
    border-style: double;
    border-color: rgb(233, 74, 164);
    color: yellow;
    margin-bottom: 2vh;
}

.col1 {
    width: 10%;
}

.col2 {
    width: 40%;
}

.col3 {
    width: 30%;
}

.col4 {
    width: 15%;
}

.bluesave {
    background-color: aqua;
    color: blue;
    border-radius: 5px;
    padding: 5px;
    font-weight: bold;
    margin: 8px;
    min-width: 80px;
}

.yellowback {
    background-color: yellow;
    border-radius: 5px;
    padding: 5px;
    font-weight: bold;
    margin: 8px;
    min-width: 80px;
}

.martop {
    margin-top: 8vh;
}

.container {
    padding-bottom: 3%;
}