<section>
    <div class="container">
        <div class="martop"></div>
        <div class="row info">

            <div class="col-4 infocall">Subject : {{subject.name}}</div>
            <div class="col-4 infocall">Max Marks : {{subject.maxMarks}}</div>

        </div>

        <div *ngIf="resultList.length > 0" class="text-center">
            <table class="table table-danger table-striped">
                <thead>
                    <tr>
                        <th class="col1">ROLL NO</th>
                        <th class="col2">NAME</th>
                        <th class="col4">MARKS</th>
                    </tr>
                </thead>
                <tbody>

                    <tr *ngFor="let result of resultList">

                        <td class="col1">{{result.student.rollNo}}</td>
                        <td class="col2">{{result.student.fullName}}</td>
                        <td class="col4"><input #marks="ngModel" type="number" class="form-control " name="marks"
                                [disabled]="class1.published" [(ngModel)]="result.marks"
                                [class.is-invalid]="marks.invalid && marks.touched" max="{{subject.maxMarks}}" min="0"
                                aria-describedby="basic-addon3"></td>
                    </tr>

                </tbody>
            </table>
            <div><input class="form-check-input me-1 ms-1" type="checkbox" [disabled]="class1.published"
                    [checked]="confirmed" [value]="confirmed" name="class" (change)="onSelectCheck($event)"
                    id="flexCheckDefault"> Confirm this as final marks and submit for evaluation</div>
            <button [disabled]="class1.published" (click)="processSaving()" class="bluesave">SAVE</button>
            <button (click)="back()" class="yellowback">BACK</button>
        </div>

        <div *ngIf="resultList.length == 0" class="text-center mt-5">
            <h3 class="mt-5">There are no students in this class!</h3>
        </div>
    </div>
</section>