section {
    background-color: #172238;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.other {
    vertical-align: middle;
    position: relative;
    padding-top: 100px;
    align-items: center;
}

.mycard {
    background-color: #2a0440;
    height: 300px;
    width: 400px;
    margin: auto;
    border-radius: 20px;
    border-color: yellow;
    border-style: groove;
    color: white;
}

.mt50 {
    margin-top: 70px;
    text-align: center;
}

.same {
    background-color: #172238;
    border-radius: 30px;
    width: 70%;
    text-align: center;
    margin: auto;
    padding: 8px;
    margin-top: 20px;
    border-color: aqua;
    border-width: 3px;
    border-style: double;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
}

.taxi {
    background-color: black;
    color: yellow;
    font-weight: bold;
    margin-top: 20px;
    padding: 3px;
    min-width: 100px;
    border-radius: 5px;
    margin: auto;
}