<section>
  <div class="container other">
    <div class="mycard">
      <div class="mt50">
        <a routerLink="login" class="noDec">
          <div class="same">
            <h3>Login</h3>
          </div>
        </a>
        <a routerLink="register" class="noDec">
          <div class="same">
            <h3>Register</h3>
          </div>
        </a>
      </div>
      <div class="text-center"><button routerLink="../" class="taxi mt-4">BACK</button></div>

    </div>
  </div>
</section>