<section>
    <div class="container other">
        <div class="mycard3">

            <div class=" row justify-content-evenly">

                <div class="col-4 bord">
                    <div class="mt50">
                        <h6>Enter Your Mobile Number</h6>
                        <form (submit)="checkMobile()">
                            <div class="input-group w80 mt-3">
                                <input #mobile="ngModel" name="mobile" [(ngModel)]="teacher.mobile" type="text"
                                    class="form-control" placeholder="Mobile Number" aria-label="mobile"
                                    pattern="[0-9]{10}" required="required" aria-describedby="basic-addon1">
                            </div>

                            <div *ngIf="mobile.errors && (mobile.invalid && mobile.touched)" class="ms-1 mes1">
                                <small class="text-danger">Mobile number is not valid
                                </small>
                            </div>

                            <div class="text-center mb-3"><button type="submit" class="btn btn2 mt-4"
                                    [disabled]="mobile.errors">Enter</button>
                            </div>

                        </form>

                    </div>

                </div>

            </div>
        </div>
        <div class="text-center"><button routerLink="../" class="taxi mt-4">BACK</button></div>

    </div>
</section>