section {
    background-color: #172238;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.other {
    vertical-align: middle;
    position: relative;
    padding-top: 30vh;
    align-items: center;
}

.mycard3 {
    background-color: #2a0440;
    height: 250px;
    width: 400px;
    margin: auto;
    border-radius: 20px;
    border-color: yellow;
    border-style: groove;
    color: white;
    text-align: center;
}

.mt50 {
    margin-top: 4%;
    text-align: center;
}

.w80 {
    width: 80%;
    margin: auto;
}

.btn2 {
    background-color: rgb(95, 47, 141);
    font-weight: bold;
    font-size: large;
    color: white;
}

.bord {
    border-style: double;
    border-color: aqua;
    border-radius: 20px;
    background-color: #172238;
    padding: auto;
    margin-top: 6vh;
    width: 350px;
}

.taxi {
    background-color: rgb(72, 8, 136);
    color: yellow;
    font-weight: bold;
    margin-top: 20px;
    padding: 3px;
    min-width: 100px;
    border-radius: 5px;
    margin: auto;
}