section {
    background-color: #172238;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.cwhite {
    color: white;
    background-color: aqua;
    padding: auto;
    margin: auto;
    height: 240px;
    border-radius: 15px;
    padding-top: 7pt;
}

.mt {
    margin-top: 120px;
}

.inner {
    color: white;
    background-color: blueviolet;
    padding: auto;
    padding-top: 10px;
    margin: auto;
    height: 220px;
    border-radius: 15px;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.myImg {
    border-radius: 50%;
}

.tit {
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: larger;
}

.pad {
    padding-top: 60px;
}