<section>
    <div class="container">

        <div class="h2 text-center pad">
            <div class="tit">RESULT MANAGEMENT SYSTEM</div>
        </div>
        <div class="row mt">

            <div class="col-lg-3 col-12 text-center cwhite">
                <a routerLink="/student" class="noDec">
                    <div class="inner">
                        <div><img src="assets/images/student.png" class="myImg" height="120px" width="120px"
                                alt="student">
                        </div>
                        <div class="mt-4">
                            <h3 class="mt-2">STUDENT</h3>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-12 text-center cwhite">
                <a href="" routerLink="/teacher" class="noDec">
                    <div class="inner">
                        <div><img src="assets/images/teacher.png" class="myImg" height="120px" width="120px"
                                alt="teacher">
                        </div>
                        <div class="mt-4">
                            <h3 class="mt-2">TEACHER</h3>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-12 text-center cwhite">
                <a href="" routerLink="/admin" class="noDec">
                    <div class="inner">
                        <div><img src="assets/images/admin2.png" class="myImg" height="130px" width="130px" alt="admin">
                        </div>
                        <div class="mt-4">
                            <h3 class="mt-2">ADMIN</h3>
                        </div>
                    </div>
                </a>
            </div>

        </div>
    </div>

</section>