<section>
    <div class="container">
        <div class="martop"></div>
        <div class="row info">

            <div class="col-4 infocall">Class: {{class1.name}}</div>

        </div>

        <div *ngIf="studentList.length > 0" class="text-center">
            <table class="table table-info table-striped">
                <thead>
                    <tr>
                        <th class="col1">Roll No</th>
                        <th class="col2">FULL NAME</th>
                        <th class="col3">MOTHER NAME</th>
                        <th *ngIf="hasPermission" class="col4">ACTION</th>
                    </tr>
                </thead>
                <tbody>

                    <tr *ngFor="let student of studentList">
                        <td class="col1">{{student.rollNo}}</td>
                        <td class="col2">{{student.fullName}}</td>
                        <td class="col3">{{student.motherName}}</td>
                        <td *ngIf="hasPermission" class="col4"><a routerLink="update/{{student.id}}"
                                class="noDecy"><span class="me-3"><svg xmlns="http://www.w3.org/2000/svg" width="24"
                                        height="24" fill="currentColor" class="bi bi-folder-fill" viewBox="0 0 16 16">
                                        <path
                                            d="M9.828 3h3.982a2 2 0 0 1 1.992 2.181l-.637 7A2 2 0 0 1 13.174 14H2.825a2 2 0 0 1-1.991-1.819l-.637-7a1.99 1.99 0 0 1 .342-1.31L.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3zm-8.322.12C1.72 3.042 1.95 3 2.19 3h5.396l-.707-.707A1 1 0 0 0 6.172 2H2.5a1 1 0 0 0-1 .981l.006.139z" />
                                    </svg></span></a><a class="ms-3 br" (click)="deleteStudent(student.id)"
                                class="noDecr"><span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                        fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                        <path
                                            d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z" />
                                    </svg></span></a>
                        </td>
                    </tr>


                </tbody>
            </table>
        </div>
        <div *ngIf="studentList.length == 0" class="text-center mt-5">
            <h3 class="mt-5">There are no students in this class!</h3>
        </div>
    </div>
</section>