.info {
    text-align: center;
    padding: auto;
    margin-top: 2vh;
}

.infocall {
    margin: auto;
    border-radius: 20px;
    border-style: double;
    border-color: aqua;
    color: yellow;
    margin-bottom: 2vh;
}

.col1 {
    width: 10%;
}

.col2 {
    width: 40%;
}

.col3 {
    width: 30%;
}

.col4 {
    width: 15%;
}

.noDecy {
    color: rgb(190, 137, 22);
}

.noDecr {
    color: red;
}

.container {
    padding-bottom: 5%;
}

.martop {
    margin-top: 8vh;
}