.teacherrow {
    background-color: rgb(18, 64, 123);
    width: 75%;
    margin: auto;
    border-radius: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
    margin-top: 10px;
}

.teacherrow:hover {
    background-color: rgb(48, 92, 150);
    width: 75%;
    margin: auto;
    border-radius: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
    margin-top: 10px;
}

.col-0 {
    width: 10%;
}

.col-1 {
    width: 75%;
}

.col-2 {
    width: 10%;
    text-align: right;
    color: yellow;
}

.srno {
    background-color: yellow;
    height: 30px;
    width: 35px;
    color: black;
    font-weight: bold;
    text-align: center;
    border-radius: 50%;
    margin: auto;
    padding: 2px;
}

.myCSSclass {
    background-color: aqua;
    border-radius: 10px;
    padding: 5px;
}

.coll {
    width: 40%;
    text-align: center;
    margin: auto;
}

.collbt {
    width: 90%;
    border-radius: 10px;
    background-color: rgb(15, 83, 83);
    font-weight: bold;
    font-size: large;
    padding: 3px;
    margin: auto;
    text-align: center;
    color: white;
    border: none;
}

.noDecy :hover {
    color: rgb(92, 225, 246);
}