<div class="container pt-4">



  <div class="row mt-1 mb-4">
    <div class="coll" [ngClass]="{'myCSSclass' : selActive}"><button class="collbt" (click)="onClickActive()">
        Active
      </button></div>
    <div class="coll" [ngClass]="{'myCSSclass' : selInactive}"><button class="collbt" (click)="onClickInactive()">
        Inactive
      </button></div>
  </div>




  <div class="showActive" *ngIf="selActive">

    <div class="row teacherrow" *ngFor="let active of activeTeachers,let indexOfelement=index;">
      <div class="col-0">
        <div class="srno">{{indexOfelement + 1}}</div>
      </div>
      <div class="col-1">{{active.name}}</div>
      <div class="col-2"><a routerLink="{{active.id}}" class="noDecy"><svg xmlns="http://www.w3.org/2000/svg" width="24"
            height="24" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
            <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z" />
            <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z" />
          </svg></a></div>
    </div>
  </div>

  <div class="showActive" *ngIf="selInactive">

    <div class="row teacherrow" *ngFor="let active of inactiveTeachers; let indexOfelement=index;">
      <div class="col-0">
        <div class="srno">{{indexOfelement + 1}}</div>
      </div>
      <div class="col-1">{{active.name}}</div>
      <div class="col-2"><a routerLink="{{active.id}}" class="noDecy"><svg xmlns="http://www.w3.org/2000/svg" width="24"
            height="24" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
            <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z" />
            <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z" />
          </svg></a></div>
    </div>
  </div>

</div>