<section>
    <div class="container other">

        <a *ngFor="let subject of subjectList" routerLink="{{subject.id}}" class="noDec3">
            <div class=" test">{{subject.name}}</div>
        </a>
    </div>
</section>