section {
    background-color: #172238;
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    padding-bottom: 60px;
}

.dummy {
    height: 10vh;

}

.w70 {
    width: 80%;
}