.coll {
    width: 30%;
    border-radius: 10px;
    background-color: rgb(15, 83, 83);
    font-weight: bold;
    font-size: large;
    padding: 3px;
    margin: auto;
    text-align: center;
}

.collbt {
    width: 90%;
    border-radius: 10px;
    background-color: rgb(15, 83, 83);
    font-weight: bold;
    font-size: large;
    padding: 3px;
    margin: auto;
    text-align: center;
    color: white;
    border: none;
}

.classValue {
    width: 12%;
    border-radius: 10px;
    background-color: rgb(19, 60, 87);
    font-weight: bold;
    font-size: large;
    padding: 3px;
    margin: auto;
    text-align: center;
}

.tabrow {
    background-color: rgb(4, 95, 80);
    text-align: center;
    min-width: 150%;
}

.tw1 {
    width: 15%;
    margin: auto;
    text-align: left;
}

.tw6 {
    width: 70%;
    margin: auto;
    text-align: left;
}

.tw2 {
    width: 15%;
    margin: auto;
    text-align: left;
}

.slist {
    margin-left: 6%;
    text-align: center;
}


.techrow {
    background-color: rgb(9, 103, 87);
    width: 90%;
    margin: auto;
}

.cols {
    width: 35%;
    margin: auto;
    padding: 5px;
}

.martop {
    min-height: 8vh;
}

.cole {
    width: 58%;
    margin: auto;
    padding: 5px;
}

.myCSSclass {
    background-color: aqua;
}

.notavailable {
    margin-top: 150px;
}

.sub {
    display: inline-block;
    background-color: rgb(4, 95, 80);
    min-width: 80px;
    min-height: 40px;
    border-radius: 5px;
    color: whitesmoke;
    font-size: large;
    font-weight: bold;
    margin: 12px;
    text-align: center;
    padding: 5px;
}

.subjects {
    justify-content: center;
    width: 92%;
    margin: auto;
}

.asbut {
    background-color: darkorange;
    color: white;
    border-radius: 5px;
    padding: 5px;
    min-width: 150px;
}

.bbut {
    background-color: rgb(24, 5, 110);
    color: white;
    border-radius: 5px;
    padding: 5px;
    min-width: 100px;
}

.abut {
    background-color: rgb(4, 122, 22);
    color: white;
    border-radius: 5px;
    padding: 5px;
    min-width: 100px;
}

.checkSub {
    display: inline-block;
    background-color: rgba(19, 117, 7, 0.649);
    min-width: 100px;
    min-height: 40px;
    border-radius: 5px;
    color: rgb(252, 250, 250);
    vertical-align: middle;
    margin: 5px;
    padding: 5px;
}

.checkSub2 {
    background-color: rgba(159, 9, 185, 0.649);
}

.fixit {
    position: fixed;
    /* background-color: yellow; */
    background-color: #172238;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    margin-top: 4vh;
    min-width: 76%;
    text-align: center;
}

.margintop{
min-height: 18.1vh;
}