<div class="container">
    <div class="fixit">
        <div class="classValue mt-2">Class : {{class1.name}}</div>
        <div class="row mt-3">
            <div class="coll" [ngClass]="{'myCSSclass' : selStudent}"><button class="collbt" (click)="onClickStudent()">
                    Students
                </button></div>
            <div class="coll" [ngClass]="{'myCSSclass' : selTeacher}"><button class="collbt" (click)="onClickTeacher()">
                    Teachers
                </button></div>
            <div class="coll" [ngClass]="{'myCSSclass' : selSubject}"><button class="collbt" (click)="onClickSubject()">
                    Subjects
                </button></div>
        </div>
    </div>
    <div class="margintop"></div>
    <div *ngIf="selStudent" class="slist text-center mt-3">
        <table *ngIf="studentList.length > 0 ">
            <thead class="pb-1">
                <th class="tw1 pb-2 text-center">Roll No</th>
                <th class="tw6 pb-2 text-center">Student Name</th>
                <th class="tw2 pb-2 pe-4 text-center">Mother Name</th>
            </thead>
            <tr *ngFor="let student of studentList" class="tabrow">
                <td class="tw1 text-center">{{student.rollNo}}</td>
                <td class="tw6 ps-">{{student.fullName}}</td>
                <td class="tw2 pe-4">{{student.motherName}}</td>
            </tr>


        </table>
        <h2 *ngIf="studentList.length == 0" class="text-center notavailable">There are no students in this Class!</h2>
    </div>



    <div *ngIf="selTeacher" class="tlist mt-5">
        <div class="row mt-1 techrow" *ngFor="let te of subClassWrapper.teacherNames, let indexOfelement=index;">
            <div class="cols">{{te}}</div>
            <div class="cole"> {{subClassWrapper.subjectNames[indexOfelement]}}</div>
        </div>

        <h2 *ngIf="subClassWrapper.teacherNames.length == 0" class="text-center notavailable">Teachers are not added for
            this Class</h2>
    </div>


    <div *ngIf="selSubject" class="mt-4 subjects">
        <div><button *ngIf="viewSub" class="asbut" (click)="onClickAddSub()">ADD SUBJECTS</button></div>

        <h2 *ngIf="subjectsOfClass.length == 0 && !viewAddSub" class="text-center notavailable">No subjects are assigned
            to this class
        </h2>
        <div *ngIf="viewAddSub" class="mt-4 addSubBox">

            <div class="c2">
                <form>
                    <div class="checkSub checkSub2 ms-3" *ngFor="let sub of allSubjects">

                        <input class="form-check-input me-1 ms-1" type="checkbox"
                            [checked]="subIndexes.indexOf(sub.id) >= 0" [value]="sub" name="subject"
                            (change)="onSelectSubject($event,sub)" id="flexCheckDefault">

                        {{sub.name}}
                    </div>
                    <div class="mt-3"><button (click)="onClickBack()" type="button ms-3" class="bbut">BACK</button>
                        <button (click)="assignSubToClass()" type="submit" class="abut ms-3">ADD</button>
                    </div>
                </form>

            </div>
        </div>
        <div *ngIf="viewSub">
            <div class="sub" *ngFor="let subject of subjectsOfClass">{{subject.name}}</div>
        </div>
    </div>
</div>

