.btnadd {
    background-color: rgb(19, 63, 97);
    border-radius: 5px;
    color: whitesmoke;
}

.btnpink {
    background-color: palevioletred;
    border-radius: 5px;
}

.w20 {
    width: 10%;
}

.w60 {
    width: 60%;
}

.btnyellow {
    background-color: rgb(123, 106, 9);
    color: wheat;
    font-weight: bold;
}

.taxi {
    background-color: black;
    color: yellow;
    font-weight: bold;
}

.w30 {
    width: 40%;
}

.w10 {
    width: 20%;
}

.ht {
    min-height: 12vh;
}

.martop {
    min-height: 18vh;
}

.classValue {
    display: inline-block;
    background-color: rgba(11, 60, 62, 0.949);
    border-radius: 5px;
    margin: 7px;
    padding: 4px;
}

.classValueLink {
    background-color: rgba(35, 78, 99, 0.649);
    min-width: 120px;
    min-height: 50px;
    border-radius: 5px;
    color: rgb(252, 250, 250);
    text-align: center;
    vertical-align: middle;
    margin: 6px;
    font-size: large;
    font-weight: bold;
    padding: 10px;
    border-color: rgb(8, 172, 47);
    border-style: double;
}

.addForm1 {
    position: fixed;
    background-color: #172238;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 4vh;
    min-width: 95%;
}


.namecol {
    width: 40%;
    margin: auto;
}

.rowup {
    width: 60%;
    background-color: rgb(55, 98, 84);
    padding: 4px;
    margin: auto;
    border-radius: 7px;
    margin-top: 5px;

}

.by {
    background-color: rgb(147, 147, 29);
    border-radius: 5px;
    padding: 4px;
}

.br {
    background-color: rgb(198, 21, 21);
    border-radius: 5px;
    padding: 4px;
}

.butcol {
    width: 30%;
    margin: auto;
    text-align: end;
}