<div class="adminClass">

    <div class="addForm1">
        <form name="forma" (submit)="onSubmitAddForm()">
            <div class="row mt-2 ht">
                <div class="w20" *ngIf="!isupdateVisible"><button type="button" (click)="onClickAddClass()"
                        class="btn btnadd">{{buttonText}}</button></div>
                <div class="w20" *ngIf="!isupdateVisible"><button type="button" class="btn btnyellow"
                        (click)="onClickUpdate()">Update</button></div>
                <div class="w20" *ngIf="isupdateVisible"><button type="button" class="btn taxi"
                        (click)="onClickBack()">BACK</button></div>
                <div *ngIf="isFormVisible && !isupdateVisible " class="w60">
                    <div class="row">
                        <div class="w30"><input #class="ngModel" name="class" [(ngModel)]="class1.name" type="text"
                                class="form-control width40" placeholder="Class" aria-label="Phone Number"
                                [class.is-invalid]="class.invalid && class.touched" [required]=true></div>
                        <div class="w10"><button [disabled]="class.errors" type="submit"
                                class="btn btnpink">ADD</button></div>
                    </div>
                    <div *ngIf="class.errors && (class.invalid && class.touched)" class="ms-1">
                        <small class="text-danger" *ngIf="class.errors?.['required']">Class can not be empty</small>
                    </div>
                </div>

            </div>

        </form>
    </div>
    <div class="martop"></div>
    <div *ngIf="!isupdateVisible" class="showClasses">
        <div class="classValue" *ngFor="let cl of classes"><a class="noDec" routerLink="{{cl.id}}">
                <div class="classValueLink">{{cl.name}}</div>
            </a></div>
    </div>

    <div *ngIf="isupdateVisible" class="showClasses">
        <form>

            <div *ngFor="let class of classes; let i = index" class="row rowup">

                <div class="namecol"><input #className="ngModel" name="class{{i}}" [(ngModel)]="class.name" type="text"
                        class="form-control" placeholder="Class"
                        [class.is-invalid]="className.invalid && className.touched" [required]=true></div>


                <div class="butcol"><button [disabled]="className.errors || className.pristine" class="by"
                        (click)="updateClass(class)">Update</button><button class="ms-3 br"
                        (click)="processDelete(class.id)">Delete</button></div>

            </div>
        </form>
    </div>

</div>