<div class="container">
    <div class="martop"></div>

    <div class="row info mt-4">

        <div class="col-4 infocall">Name</div>
        <div class="col-6 infocall">{{teacher.name}}</div>

    </div>

    <div class="row info">

        <div class="col-4 infocall">Username</div>
        <div class="col-6 infocall">{{teacher.username}}</div>

    </div>

    <div class="row info">

        <div class="col-4 infocall">Mobile Number</div>
        <div class="col-6 infocall">{{teacher.mobile}}</div>

    </div>

    <div class="row info">

        <div class="col-4 infocall">Add Student Permissions</div>
        <div class="col-6 infocall">

            <div *ngFor="let cl of classes" class="a">{{cl.name}}</div>

        </div>

    </div>

    <div class="row info">

        <div class="col-4 infocall">Add Marks Permissions</div>
        <div class="col-6 infocall">
            <div class="a">

                <div *ngFor="let item of permissions" class="row">
                    <div class="col30"> {{item.class1.name}}</div>
                    <div class="col31"> {{item.subject.name}}</div>
                </div>

            </div>

        </div>
    </div>

</div>