.info {
    text-align: center;
    padding: auto;
    margin-top: 2vh;
}

.infocall {
    margin: auto;
    border-radius: 20px;
    border-style: groove;
    border-color: rgb(233, 74, 164);
    color: yellow;
    padding-bottom: 5px;
    padding-top: 5px;
}

.col30 {
    margin-left: 30%;
    width: 20%;
}

.col31 {
    margin-right: 20px;
    width: 20%;
}

.martop {
    margin-top: 10vh;
}