<section>
    <div class="container other">
        <div class="mycard">
            <form (submit)="adminLogin()">
                <div class="mt50">
                    <div class="input-group mb-2 w80">
                        <input #password="ngModel" name="password" [(ngModel)]="admin.password" type="password"
                            class="form-control" placeholder="Admin Password" aria-label="password" required="required"
                            aria-describedby="basic-addon1">
                    </div>

                    <div class="text-center mb-3"><button type="submit" class="btn btn2 mt-4"
                            [disabled]="password.errors">Login</button>
                    </div>
                </div>
            </form>
            <div class="text-center"><button routerLink="../" class="taxi mt-5">BACK</button></div>

        </div>
    </div>
</section>