<div class="showClasses mt-5">
    <div class="classValue" *ngFor="let cl of classList"><a class="noDec" routerLink="{{cl.id}}">
            <div class="classValueLink">{{cl.name}}</div>
        </a></div>
</div>