.classValue {
    display: inline-block;
    margin: 5px;
}

.classValueLink {
    background-color: rgb(56, 8, 107);
    min-width: 100px;
    height: 60px;
    border-style: groove;
    border-width: 4px;
    border-color: rgb(3, 79, 145);
    border-color: rgb(3, 79, 145);
    border-radius: 8px;
    color: rgb(238, 230, 6);
    text-align: center;
    padding-top: 11px;
    padding-left: 4px;
    padding-right: 4px;
    font-size: large;
    font-weight: bold;
}