<section>
  <div class="container other">
    <div class="mycard">
      <form (submit)="onSubmit()">
        <div class="mt50">
          <div class="input-group mb-4 w80">
            <select class="form-select" name="name" (change)="onSelectClass($event)" [(ngModel)]="clsOne">
              <option selected>--Select--</option>
              <option *ngFor="let cl of classList">{{cl.name}}</option>
            </select>
          </div>

          <div class="input-group mb-4 w80">
            <input #rollNo="ngModel" [(ngModel)]="roll" required="required" name="rollNo" type="number"
              class="form-control" placeholder="Roll Number" aria-describedby="basic-addon1" max="999999" min="1">
          </div>

          <div class="input-group mb-4 w80">
            <input #mother="ngModel" [(ngModel)]="motherName" required="required" name="motherName" type="text"
              class="form-control" placeholder="Mother Name" aria-describedby="basic-addon1" maxlength="40">
          </div>

          <button [disabled]="mother.errors || rollNo.errors || clsOne=='--Select--'" type="submit"
            class="btn btn2 mt-1">Show Result</button>

        </div>
      </form>
    </div>
  </div>
  <div class="text-center mt-4"> <button routerLink="../" class="taxi">BACK</button></div>


</section>