section {
    background-color: #172238;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.other {
    vertical-align: middle;
    position: relative;
    padding-top: 100px;
    align-items: center;
}

.mycard {
    background-color: #2a0440;
    height: 300px;
    width: 400px;
    margin: auto;
    border-radius: 20px;
    border-color: yellow;
    border-style: groove;
    color: white;
}

.mt50 {
    margin-top: 40px;
    text-align: center;
}

.w80 {
    width: 80%;
    margin: auto;
}

.btn {
    background-color: rgb(125, 5, 161);
    font-weight: bold;
    font-size: large;
    color: white;
}

.btn2 {
    background-color: rgb(95, 47, 141);
    font-weight: bold;
    font-size: large;
    color: white;
}

.taxi {
    background-color: rgb(12, 76, 124);
    color: yellow;
    font-weight: bold;
    margin-top: 20px;
    padding: 3px;
    min-width: 100px;
    border-radius: 5px;
    margin: auto;
}