section {
    background-color: #172238;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.header {
    color: white;
}

.tab {
    color: white;
    margin: auto;
}

.w25 {
    width: 25%;
    margin: auto;
}

.w20 {
    width: 20%;
    margin: auto;
}

.bg1 {
    background-color: rgb(165, 23, 58);
    text-align: center;
    margin: auto;
    padding: 10px;
}

.bg2 {
    background-color: rgb(6, 96, 74);
    text-align: center;
    margin: auto;
    padding: 10px;
}

.bg3 {
    background-color: rgb(7, 47, 80);
    text-align: center;
    margin: auto;
    padding: 10px;
}

.tithead {
    text-align: center;
    background-color: rgb(149, 195, 206);
    width: 30%;
    border-color: aqua;
    border-style: groove;
    border-radius: 6px;
    justify-self: center;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.cola {
    width: 20%;
}

.fon {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.fong {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    color: rgb(21, 244, 107);
    font-size: large;
}

.fonr {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    color: rgb(222, 70, 15);
    font-size: large;
}

.fam {
    font-family: "Lucida Console", "Courier New", monospace;
}

.bgg {
    color: rgb(6, 146, 92);
}

.bgr {
    color: rgb(224, 40, 16);
}

.taxi {
    background-color: black;
    color: yellow;
    font-weight: bold;
    margin-top: 20px;
    padding: 3px;
    min-width: 100px;
    border-radius: 5px;
}