<section>
    <div class="container">
        <div class="header pt-4">

            <div class="tithead">RESULT</div>

            <div class="row fon mt-3">
                <div class="cola">Class : {{student.class1.name}}</div>
                <div class="cola">Roll No. : {{student.rollNo}}</div>
                <div class="cola">Mother Name : {{student.motherName}}</div>
            </div>
            <div class="row mt-2 fon mb-4">
                <div>Student Name: {{student.fullName}}</div>
            </div>


        </div>
        <div class="tab text-center">
            <div>
                <div class="row bg1">
                    <th class="w25">SUBJECT</th>
                    <th class="w20">MARKS</th>
                    <th class="w20">TOTAL MARKS</th>
                    <th class="w20">RESULT</th>
                </div>
                <div *ngFor="let sub of subjectList; let indexOf = index" class="row bg2">
                    <td class="w25">{{sub.name}}</td>
                    <td class="w20">{{markList[indexOf]}}</td>
                    <td class="w20">{{sub.maxMarks}}</td>
                    <td class="w20 fon">{{resList[indexOf]}}</td>
                </div>

                <div class="row bg3">
                    <td class="w25">TOTAL</td>
                    <td class="w20">{{sumActual}}</td>
                    <td class="w20">{{sumTotal}}</td>
                    <td *ngIf="student.passed" class="w20 fong">PASS</td>
                    <td *ngIf="!student.passed" class="w20 fonr">FAIL</td>
                </div>

            </div>

            <div *ngIf="student.passed" class="tithead mt-3">PERCENTAGE : {{percent}} %</div>
            <div *ngIf="!student.passed" class="tithead mt-3">PERCENTAGE : NA</div>

            <div *ngIf="student.passed" class="fam"><span class="bgg">Congratulations! </span> you are <span
                    class="bgg">PASS</span></div>
            <div *ngIf="!student.passed" class="fam"><span class="bgr">Sorry! </span> you are <span
                    class="bgr">FAIL</span></div>

            <button (click)="backToLogin()" class="taxi">BACK</button>
        </div>

    </div>
</section>