<section>
    <div class="container other">
        <div class="mycard2">
            <form (submit)="updateStudent()">
                <div class=" row justify-content-evenly">

                    <div class="col-4 bord">

                        <div class="mt50">

                            <div class="row cl1">
                                <div class="col-6">
                                    <label for="basic-url" class="form-label">Class</label>
                                    <div class="input-group mb-3">
                                        <input type="text" [defaultValue]="student.class1.name" class="form-control"
                                            disabled="disabled">
                                    </div>

                                </div>
                                <div class="col-6">



                                </div>
                            </div>

                            <div class="row cl1">
                                <div class="col-6">
                                    <label for="basic-url" class="form-label">Roll No</label>
                                    <div class="input-group mb-3">
                                        <input #rollNo="ngModel" name="rollNo" [(ngModel)]="student.rollNo"
                                            type="number" required="required" class="form-control"
                                            [class.is-invalid]="rollNo.invalid && rollNo.touched" disabled="disabled"
                                            placeholder="Roll No" min="1" max="9999999">

                                    </div>

                                </div>
                                <div class="col-6">

                                    <label for="basic-url" class="form-label">Mother Name</label>
                                    <div class="input-group mb-3">
                                        <input #motherName="ngModel" name="motherName" [(ngModel)]="student.motherName"
                                            type="text" required="required" minlength="2" placeholder="Mother Name"
                                            pattern="[A-Za-z\s]{2,20}" class="form-control"
                                            [class.is-invalid]="motherName.invalid && motherName.touched">
                                    </div>

                                </div>
                            </div>

                            <div>

                                <label for="basic-url" class="form-label ms-3">Full Name</label>
                                <div class="input-group mb-3 wid">
                                    <input #fullName="ngModel" name="fullName" [(ngModel)]="student.fullName"
                                        type="text" required="required" pattern="[A-Za-z\s]{3,30}"
                                        placeholder="Full Name" class="form-control"
                                        [class.is-invalid]="fullName.invalid && fullName.touched">
                                </div>

                            </div>

                        </div>

                    </div>

                    <div class="col-4 bord2">

                        <div class="mt50">
                            <div class="text-center mb-3"><button type="submit" class="btn btn2 btyellow mt-4"
                                    [disabled]="motherName.errors ||  fullName.errors || rollNo.errors">Update</button>
                            </div>

                            <div class="text-center mb-3"><a routerLink="../../">
                                    <button type="button" class="btn btn2 btred mt-4">BACK</button></a>
                            </div>

                        </div>

                    </div>
                </div>
                <div class="row mt-3">
                    <div *ngIf="motherName.errors && (motherName.invalid && motherName.touched)" class="col33">
                        <small class="text-danger" *ngIf="motherName.errors">Please enter valid Mother Name
                        </small>

                    </div>
                    <div *ngIf="fullName.errors && (fullName.invalid && fullName.touched)" class="col33">
                        <small class="text-danger" *ngIf="fullName.errors">Please enter valid Full Name
                        </small>

                    </div>
                </div>
            </form>

        </div>
    </div>
</section>