<section>
    <div class="container other">
        <div class="mycard3">

            <div class=" row justify-content-evenly">

                <div class="col-4 bord">
                    <div class="mt50">
                        <form (submit)="resetPassword()">
                            <h6>Username: {{teacher.username}}</h6>
                            <div class="input-group w80">
                                <input #password="ngModel" name="password" [(ngModel)]="teacher.password"
                                    type="password" class="form-control" placeholder="Password" aria-label="password"
                                    minlength="6" required="required" aria-describedby="basic-addon1">
                            </div>

                            <div *ngIf="password.errors && (password.invalid && password.touched)" class="ms-1 mes1">
                                <small class="text-danger">Password must contain at least 6 characters
                                </small>
                            </div>

                            <div class="text-center mb-3"><button type="submit" class="btn btn2 mt-4"
                                    [disabled]=" password.errors">Reset Password</button>
                            </div>





                        </form>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>