.styletitle {
    color: rgb(20, 169, 94);
    font-style: oblique;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 30vh;
    font-size: 500%;
    text-align: center;
}