<section>
    <div class="mar">
        <div class="memo mt-4">
            <div class="row mt-3">
                <div class="colspec1 pt-3">
                    Subjects <br>
                    <h1>{{analytics[0]}}</h1>
                </div>
                <div class="colspec2 pt-3">
                    Classes <br>
                    <h1>{{analytics[1]}}</h1>
                </div>
            </div>
            <div class="row mt-3">
                <div class="colspec3 pt-3">
                    Teachers <br>
                    <h1>{{analytics[2]}}</h1>
                </div>
                <div class="colspec4 pt-3">
                    Students <br>
                    <h1>{{analytics[3]}}</h1>
                </div>
            </div>
        </div>
    </div>
</section>