.memo {
	background: transparent;
	border-style: double;
	border-color: yellow;
	border-radius: 20px;
	padding: 20px;
	color: white;
	font-weight: bolder;
	font-family: cursive;
	font-size: medium;
	width: 60%;
	margin: auto;
	text-align: center;
}

.colspec1 {
	border-radius: 50%;
	background: radial-gradient(#6D980B, #3B5206);
	width: 120px;
	height: 120px;
	margin: auto;
}

.colspec2 {
	border-radius: 50%;
	background: radial-gradient(#9C0CC9, #5E0958);
	width: 120px;
	height: 120px;
	margin: auto;
}

.colspec3 {
	border-radius: 50%;
	background: radial-gradient(#275D8F, #033059);
	width: 120px;
	height: 120px;
	margin: auto;
}

.colspec4 {
	border-radius: 50%;
	background: radial-gradient(#C99E0C, #BA0617);
	width: 120px;
	height: 120px;
	margin: auto;
}

.mar {
	margin-top: 10%;
}