section {
    background-color: #172238;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.other {
    vertical-align: middle;
    position: relative;
    padding-top: 100px;
    align-items: center;
}

.mycard {
    background-color: #06043dea;
    height: 300px;
    width: 400px;
    margin: auto;
    border-radius: 20px;
    border-color: yellow;
    border-style: groove;
    color: white;
}

.mt50 {
    margin-top: 70px;
    text-align: center;
}

.w80 {
    width: 80%;
    margin: auto;
}

.btn2 {
    background-color: rgb(215, 232, 22);
    font-weight: bold;
    font-size: large;
    color: darkblue;
}

.forgetLink {
    text-align: center;
}

.noDec2 {
    text-decoration: none;
    color: aquamarine;
}

.taxi {
    background-color: rgb(72, 8, 136);
    color: yellow;
    font-weight: bold;
    margin-top: 20px;
    padding: 3px;
    min-width: 100px;
    border-radius: 5px;
    margin: auto;
}