<section>
    <div class="container other">
        <div class="mycard">
            <form (submit)="onLogin()">
                <div class="mt50">
                    <div class="input-group mb-4 w80">
                        <input #username="ngModel" name="username" [(ngModel)]="teacher.username" type="text"
                            class="form-control" placeholder="Username" aria-label="Username" required="required"
                            aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group mb-2 w80">
                        <input #password="ngModel" name="password" [(ngModel)]="teacher.password" type="password"
                            class="form-control" placeholder="Password" required="required" aria-label="Username"
                            aria-describedby="basic-addon1">
                    </div>

                    <div class="text-center mb-3"><button type="submit" class="btn btn2 mt-4"
                            [disabled]="username.errors ||  password.errors">Login</button>
                    </div>
                </div>
            </form>
            <div class="noDec forgetLink mt-3"><a routerLink="mobile" class="noDec2">I do not remeber my Password</a>
            </div>
        </div>
        <div class="text-center"><button routerLink="../" class="taxi mt-5">BACK</button></div>

    </div>
</section>